

.container{
  .line{
    width: 100%;
    position: relative;
    overflow: hidden;
    span{
      position: absolute;
      color: white;
    }
  }
}




  .line{
    width: 100%;
    position: relative;
    overflow: hidden;

  }
