

.container{
  .line{
    width: 70%;
    height: 70px;
    position: relative;
    overflow: hidden;
    span{
      position: absolute;
      color: white;
      font-size: 3rem;
      line-height: 4.2rem;
    }
  }
}