@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family : nneue montreal;
}

@font-face {
  font-family: 'neue montreal';
  src: url('./font/NeueMontreal-Regular.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

.purplegradient{
  background: linear-gradient(to bottom right , #9900FF 71%, #9900FF 100%);
}